# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import (api_key, g_key)
g_key
api_key

# Configure gmaps
gmaps.configure(api_key=g_key)
g_key

'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv('../output_data/cities.csv')
city_data = city_data.dropna() 
city_data = city_data.sort_values(by ='Lng', ascending = False)
city_data

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,2126710,beringovskiy,RU,1644099910,63.0500,179.3167,-10.55,93,54,13.78
1,2123814,leningradskiy,RU,1644099830,69.3833,178.4167,-22.02,96,8,3.74
2,2186338,murupara,NZ,1644100068,-38.4667,176.7000,70.56,100,100,3.29
3,2179756,waiuku,NZ,1644100007,-37.2500,174.7500,72.66,99,100,8.01
4,2186111,ngunguru,NZ,1644099881,-35.6167,174.5000,76.15,97,100,12.71
...,...,...,...,...,...,...,...,...,...,...
573,4036284,alofi,NU,1644099884,-19.0595,-169.9187,80.49,89,98,8.05
574,4031637,lavrentiya,RU,1644100061,65.5833,-171.0000,-15.97,94,9,9.64
575,4031574,provideniya,RU,1644099886,64.3833,-173.3000,-4.45,85,2,10.25
576,4032243,vaini,TO,1644099766,-21.2000,-175.2000,78.96,100,100,14.97
577,4031742,egvekinot,RU,1644100080,66.3167,-179.1667,-9.54,86,10,12.46

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
location_df = city_data[["Lat","Lng"]]
# location_df
# Filla NaN values and convert to float
weight = city_data["Humidity"].astype(float)
fig = gmaps.figure(center =[25,0],zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(location_df, 
                                 weights = weight,
                                dissipating = False,
                                max_intensity = 30,
                                point_radius = 1.2,
                               )
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
  #* A max temperature lower than 80 degrees but higher than 70.

  #* Wind speed less than 10 mph.

  #* Zero cloudiness.

In [5]:
city_data_clean = city_data[(city_data['Max Temp'] < 80) & (city_data['Max Temp'] >70) & (city_data['Wind Speed'] <10) & (city_data['Cloudiness'] == 0)]
city_data_clean = city_data_clean.dropna()
city_data_clean
# df[(df["A"] >= 1) & (df["B"] < 5)]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
61,2065594,mount isa,AU,1644100021,-20.7333,139.5000,78.57,41,0,8.05
205,1161724,chabahar,IR,1644100114,25.2919,60.6430,71.17,74,0,5.19
243,223816,jibuti,DJ,1644100070,11.5000,42.5000,72.82,47,0,3.76
306,3369157,cape town,ZA,1644099915,-33.9258,18.4232,73.11,64,0,1.99
345,2395915,abomey,BJ,1644100014,7.1829,1.9912,77.22,68,0,5.79
366,2381334,atar,MR,1644100030,20.5169,-13.0499,73.15,10,0,4.12
449,3855065,general roca,AR,1644099840,-39.0333,-67.5833,77.40,26,0,8.93
450,3843123,neuquen,AR,1644099997,-38.9516,-68.0591,76.89,33,0,8.05
485,3932145,pisco,PE,1644099895,-13.7000,-76.2167,74.01,83,0,8.05
487,3571913,marsh harbour,BS,1644100003,26.5412,-77.0636,74.07,59,0,6.93
538,4021858,guerrero negro,MX,1644099861,27.9769,-114.0611,70.09,22,0,7.52
571,5848280,kapaa,US,1644099772,22.0752,-159.3190,79.48,67,0,1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = city_data_clean

In [7]:
hotel_df['Hotel Name'] = ""
hotel_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
61,2065594,mount isa,AU,1644100021,-20.7333,139.5000,78.57,41,0,8.05,
205,1161724,chabahar,IR,1644100114,25.2919,60.6430,71.17,74,0,5.19,
243,223816,jibuti,DJ,1644100070,11.5000,42.5000,72.82,47,0,3.76,
306,3369157,cape town,ZA,1644099915,-33.9258,18.4232,73.11,64,0,1.99,
345,2395915,abomey,BJ,1644100014,7.1829,1.9912,77.22,68,0,5.79,
366,2381334,atar,MR,1644100030,20.5169,-13.0499,73.15,10,0,4.12,
449,3855065,general roca,AR,1644099840,-39.0333,-67.5833,77.40,26,0,8.93,
450,3843123,neuquen,AR,1644099997,-38.9516,-68.0591,76.89,33,0,8.05,
485,3932145,pisco,PE,1644099895,-13.7000,-76.2167,74.01,83,0,8.05,
487,3571913,marsh harbour,BS,1644100003,26.5412,-77.0636,74.07,59,0,6.93,
538,4021858,guerrero negro,MX,1644099861,27.9769,-114.0611,70.09,22,0,7.52,
571,5848280,kapaa,US,1644099772,22.0752,-159.3190,79.48,67,0,1.99,

In [8]:
location = hotel_df[["Lat", "Lng"]]
location

         Lat       Lng
61  -20.7333  139.5000
205  25.2919   60.6430
243  11.5000   42.5000
306 -33.9258   18.4232
345   7.1829    1.9912
366  20.5169  -13.0499
449 -39.0333  -67.5833
450 -38.9516  -68.0591
485 -13.7000  -76.2167
487  26.5412  -77.0636
538  27.9769 -114.0611
571  22.0752 -159.3190

In [9]:
for index, row in hotel_df.iterrows():
#     target = f"{row['City_ID']}, {row['Country']}"
#     print(f"calling geocode with target: {target}")
#     # geocode api
# #     base_url = "https://maps.googleapis.com/maps/api/geocode/json"
# #     params = {
# #         "key": g_key,
# #         "address": target
#     }
#     geo_data = requests.get(base_url, params=params).json()
#     lat = geo_data["results"][0]["geometry"]["location"]["lat"]
#     lng = geo_data["results"][0]["geometry"]["location"]["lng"]
#     print(lat, lng)
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{row['Lat']},{row['Lng']}",
        "type": "lodging",
        "radius": "5000",
        #"rankby": "distance",
        "key": g_key
    }
    print(params)
    #print(row['Lat'])
    
   
    places_data = requests.get(base_url, params=params).json()
    # Print the name and address of the first bike store that appears
    #pprint(places_data)
    #break
    try:
        hotel_df.loc[index, 'hotel_name'] = places_data["results"][0]["name"]

    except Exception as error:
        print(error)

{'location': '-20.7333,139.5', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '25.2919,60.643', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '11.5,42.5', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '-33.9258,18.4232', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '7.1829,1.9912', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '20.5169,-13.0499', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '-39.0333,-67.5833', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '-38.9516,-68.0591', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '-13.7,-76.2167', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '26.5412,-77.0636', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '27.9769,-114.0611', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}
{'location': '22.0752,-159.319', 'type': 'lodging', 'radius': '5000', 'key': 'AIzaSyDDzXTyIvR19-DI4ETXSi9racR8izkfZsg'}

In [10]:
hotel_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name,hotel_name
61,2065594,mount isa,AU,1644100021,-20.7333,139.5000,78.57,41,0,8.05,,ibis Styles Mt Isa Verona
205,1161724,chabahar,IR,1644100114,25.2919,60.6430,71.17,74,0,5.19,,هتل گدروشیا
243,223816,jibuti,DJ,1644100070,11.5000,42.5000,72.82,47,0,3.76,,Orchid Main Camp Goubet
306,3369157,cape town,ZA,1644099915,-33.9258,18.4232,73.11,64,0,1.99,,Southern Sun Waterfront Cape Town
345,2395915,abomey,BJ,1644100014,7.1829,1.9912,77.22,68,0,5.79,,Residence Hotel Marie Emmanuella
366,2381334,atar,MR,1644100030,20.5169,-13.0499,73.15,10,0,4.12,,Oumou Elghoura
449,3855065,general roca,AR,1644099840,-39.0333,-67.5833,77.40,26,0,8.93,,Hotel y Casino del Río General Roca
450,3843123,neuquen,AR,1644099997,-38.9516,-68.0591,76.89,33,0,8.05,,Hotel del Comahue
485,3932145,pisco,PE,1644099895,-13.7000,-76.2167,74.01,83,0,8.05,,Hotel San Isidro Oficial
487,3571913,marsh harbour,BS,1644100003,26.5412,-77.0636,74.07,59,0,6.93,,Abaco Beach Resort
538,4021858,guerrero negro,MX,1644099861,27.9769,-114.0611,70.09,22,0,7.52,,"Casa Laguna, Bed & Breakfast"
571,5848280,kapaa,US,1644099772,22.0752,-159.3190,79.48,67,0,1.99,,Sheraton Kauai Coconut Beach Resort

In [11]:


# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
fig = gmaps.figure(center =[25,0],zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,
                                info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))